
<table style="text-align:center"><caption><strong>Métricas de Evaluación modelo 1</strong></caption>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">R2_Score</td><td>2</td><td>0.189</td><td>0.022</td><td>0.174</td><td>0.205</td></tr>
<tr><td style="text-align:left">RMSE</td><td>2</td><td>2,025,665.000</td><td>342,266.900</td><td>1,783,646.000</td><td>2,267,685.000</td></tr>
<tr><td style="text-align:left">MAPE</td><td>2</td><td>2.447</td><td>1.962</td><td>1.060</td><td>3.834</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
